
@media screen and (max-width: 551px) {
    #left { 
      min-width: 245px;
    }
}

@media screen and (min-width: 800px) {
    #left { 
      max-width: 300px;
    }
}

@media screen and (max-width: 325px) {
    #right{
     display: none;
    }
}

@media screen and (min-width: 800px) {
    #container {
      max-width: 90%;
      margin: auto;
      max-height: 100%;
    }
}